<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{prestamo.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{prestamo.list.headline}]]</h1>
                <div>
                    <a th:href="@{/prestamos/add}" class="btn btn-primary ms-2">[[#{prestamo.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${prestamoes.empty}">[[#{prestamo.list.empty}]]</div>
            <div th:if="${!prestamoes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{prestamo.id.label}]]</th>
                            <th scope="col">[[#{prestamo.libro.label}]]</th>
                            <th scope="col">[[#{prestamo.lector.label}]]</th>
                            <th scope="col">[[#{prestamo.fecchaDePrestamo.label}]]</th>
                            <th scope="col">[[#{prestamo.fechaDeDevolucion.label}]]</th>
                            <th scope="col">[[#{prestamo.prestamos.label}]]</th>
                            <th scope="col">[[#{prestamo.prestamo.label}]]</th>
                            <th scope="col">[[#{prestamo.prestamosId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prestamo : ${prestamoes}">
                            <td>[[${prestamo.id}]]</td>
                            <td>[[${prestamo.libro}]]</td>
                            <td>[[${prestamo.lector}]]</td>
                            <td>[[${prestamo.fecchaDePrestamo}]]</td>
                            <td>[[${prestamo.fechaDeDevolucion}]]</td>
                            <td>[[${prestamo.prestamos}]]</td>
                            <td>[[${prestamo.prestamo}]]</td>
                            <td>[[${prestamo.prestamosId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/prestamos/edit/{id}(id=${prestamo.id})}" class="btn btn-sm btn-secondary">[[#{prestamo.list.edit}]]</a>
                                    <form th:action="@{/prestamos/delete/{id}(id=${prestamo.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{prestamo.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
